*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #181aaa;
    margin-left: 7%;
}

#subtittulo{
    font-family: sans-serif;
    color: #181aaa;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1em;
    color: #3818aa;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #3818aa;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #3818aa;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #b0ecff;
}

.botao {
    font-size: 1.2em;
    background: #181aaa;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #f00606;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}